{% extends "base.html" %} 

{% block app_content %}

<div class="card">
	<div class="row">
		<aside class="col-sm-4 col-md-4 col-lg-3 border-right">
                <div class="card" style="padding: 5px;">
						<img class="card-img-top" src="{{ post.author.avatar(256) }}">
						<div class="card-block">
							<h4 class="card-title mt-3" style="margin: 10px auto;">Posted by 
								<a href="{{ url_for('user', username=post.author.username) }}"> {{ post.author.username }} </a>
							</h4>
							<div class="card-text">
									{{ post.author.username }} is a student from {{ post.author.institution }}.
							</div>
						</div>
						<div class="card-footer">
							<small>Last updated {{ moment(post.last_updated).fromNow() }}.</small>
							{% if post.author == current_user %}
							<button class="btn btn-secondary float-right btn-sm">Edit</button>
							{% endif %}
						</div>
				</div>
		</aside>
		<aside class="col-sm-8">
			<article class="card-body p-5">
				<h3 class="title mb-3">{{ post.title }}</h3>

				<p class="price-detail-wrap">
					<span class="price h3 text-warning">
						<span class="currency-num">{{ "${:,.2f}".format(post.price) }}</span>
					</span>
				</p>
				<dl class="param param-feature">
					<dt>Category</dt>
					{%if post.demand == 'dem'%}
					<dd>Requesting this service.</dd>
					{% else %}
					<dd>Offering this service.</dd>
					{% endif %}
				</dl>
				<!-- price-detail-wrap .// -->
				<dl class="item-property">
					<dt>Description</dt>
					<dd>
						<p>{{ post.body }}</p>
					</dd>
				</dl>
				<!-- item-property-hor .// -->
				<dl class="param param-feature">
					<dt>Location</dt>
					<dd>{{ post.author.institution }}</dd>
				</dl>
				<!-- item-property-hor .// -->
				<dl class="param param-feature">
						<dt>Posted</dt>
						<dd> {{ moment(post.timestamp ).format('LLL') }}</dd>
				</dl>
				<!-- item-property-hor .// -->
				<dl class="param param-feature">
						<dt>Status</dt>
						{%if post.purchased == False%}
						<dd>Open</dd>
						{% else %}
						<dd>Taken</dd>
						{% endif %}
				</dl>
				<!-- row.// -->
				<hr>
				
				{% if post.purchased == False %}
				<a href="{{ url_for('purchase_item', user_id=current_user.id, post_id=post.id) }}"
				 class="btn btn-lg btn-primary text-uppercase"> Buy now </a>
				{% endif %}
			</article>
			<!-- card-body.// -->
		</aside>
		<!-- col.// -->
	</div>
	<!-- row.// -->
</div>
<!-- card.// -->

<style>
	.card-img-top {
		padding-top: 20px;
		width: 100%;
		height: auto;
		object-fit: cover;
	}
	.row-eq-height {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display:         flex;
	}
	
</style>

{% endblock %}