{% extends "base.html" %} 

{% block app_content %}
<div class="col-md-8 col-md-offset-2" style="padding: 0px">
<table class="table table-hover" style="margin: 0px">
    <tr>
        <div class="container-fluid" >
                <div class="row center-align">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="well well-sm" style="float: none; margin: 0 auto;">
                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                    <img src="{{ user.avatar(256) }}" alt="" class="img-rounded img-responsive" />
                                </div>
                                <div class="col-sm-6 col-md-8">
                                    <h3 style="padding: 0px; margin: 0px;">{{ user.username }}</h3>
                                    <small><cite title="{{ user.institution }}, USA">{{ user.institution }}, USA<i class="glyphicon glyphicon-map-marker">
                                    </i></cite></small>
                                    <p>
                                        <i class="glyphicon glyphicon-envelope"></i> {{ user.email }}
                                        <br />
                                        {% if user.last_seen %}
                                        {% endif %}
                                        <i class="glyphicon glyphicon-time"></i> Last seen on: {{ moment(user.last_seen).format('LLL') }}
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </tr>
</table>
<br> <h3 style="padding: 0px">Recent listings by {{ user.username }}</h3>
{% for post in posts %} 
    {% include '_post.html' %} 
{% endfor %}
<div class="card card-outline-secondary my-4">
    <div class="card-header">
        <h3>User Reviews</h3>
    </div>
    <div class="card-body">
        <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus
            neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint
            natus.</p>
        <small class="text-muted">Posted by Anonymous on 3/1/17</small>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus
            neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint
            natus.</p>
        <small class="text-muted">Posted by Anonymous on 3/1/17</small>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus
            neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint
            natus.</p>
        <small class="text-muted">Posted by Anonymous on 3/1/17</small>
        <hr>
        <a href="#" class="btn btn-success">Leave a Review</a>
    </div>
</div>
<nav aria-label="...">
    <ul class="pager">
        <li class="previous{% if not prev_url %} disabled{% endif %}">
            <a href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span> Newer posts
            </a>
        </li>
        <li class="next{% if not next_url %} disabled{% endif %}">
            <a href="{{ next_url or '#' }}">
                Older posts
                <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>
</div>
{% endblock %}